{% extends 'base-backend.html.twig' %}

{% block title %}New Pochette{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_pochette_index') }}"class="btn btn-light fw-bold">Retourn à la liste </a>
    <div class="d-flex justify-content-between align-items-center">
    <h1 class="bg-dark text-white mt-3 fw-bolder fs-1">Créer Une Nouvelle Pochette</h1>
    </div>
    {{ include('admin_pochette/_form.html.twig') }}

{% endblock %}
