<form method="post" action="{{ path('app_admin_bague_delete', {'id': bague.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bague.id) }}">
<button class=" btn btn-danger"><i class="align-middle" data-feather="trash-2"></i></button>
</form>
