{% extends 'base.html.twig' %}

{% block title %}GC Creation Paris - Biographie{% endblock %}

{% block body %}
    <div class="container my-5 text-white">
        <h1 class="text-center mb-5">About Us</h1>
        <div class="row">
            <div class="col-md-6">
            <img src="{{ asset('images/extra/gian.jpg') }}" alt="Address" class="img-fluid mb-3" style="height: 740px; width: 600px;">
            </div>
            <div class="col-md-6">
                <p>{{ description }}</p>
            </div>
        </div>
    </div>
{% endblock %}