{% extends 'base.html.twig' %}

{% block title %}
    Bracelets
    
{% endblock %}

{% block body %}
    <style>

</style>

    <h1 class=" text-white mt-4  fw-bolder fs-1 text-center">
        Bracelets
    </h1>
    {# CARDS BRACELETS  #}
    <div class="d-flex flex-wrap justify-content-center text-white ">
    {% for bracelet in bracelets %} 
        <div class="d-flex col-12 col-sm-12 col-md-6 col-lg-3 text-white m-2">  {# TEXTE - BUTTON CENTRÉ #}
            <div class="card dark text-center bg-dark mb-3">  {# CARTE # Azul#}
                <img src="{{ asset('images/bracelets/' ~ bracelet.imageName)}}" class="img-fluid"  alt="leopard">
                    <div class="card-body">
                        <h5 class="card-title ">
                        {{bracelet.title}}
                        </h5>
                    <button type="button" class="btn btn-outline-warning">Voir plus</button>
                    </div>
                </div>
            </div>


                {% endfor %} 
                {% endblock %}
        